{% load static i18n compress %}

<div class="dashboard-block">
    <div class="dashboard-menu">
        <ul>
            <li class="dashboard">
                <a href="/app#/">
                    <i class="fas fa-clipboard-list"></i> {% trans "Dashboard" %}
                    <span class="menu-side"></span>
                </a>
            </li>
            <li class="orders-list">
                <a href="/app#/reports/">
                    <i class="fas fa-shopping-cart"></i> {% trans "Reports" %}
                    <span class="menu-side"></span>
                </a>
            </li>
            <li class="support">
                <a href="/app#/support/">
                    <i class="fas fa-question-circle"></i> {% trans "Support" %}
                    <span class="menu-side"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
