{% extends "base.html" %}

{% load static i18n %}

{% block title %}Steebie:home{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.4/cropper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/http-vue-loader" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/project.js' %}"></script>

    <script src="{% static 'vue-steebie/src/components/mixins.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/bootstrap-form.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/dashboard-menu.vue.js' %}"></script>

    <script src="{% static 'vue-steebie/src/components/campaign-create.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/campaign-edit.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/campaign-start.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/campaign.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/campaign-finish.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/campaigns.vue.js' %}"></script>

    <script src="{% static 'vue-steebie/src/components/reports.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/components/support.vue.js' %}"></script>
    <script src="{% static 'vue-steebie/src/index.js' %}"></script>
{% endblock javascript %}
