{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Steebie{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
                integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/48d5a4049a.js"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Start of steebie Zendesk Widget script -->
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=84d46321-6b21-4ac4-bc34-606fd814b522"> </script>
        <!-- End of steebie Zendesk Widget script -->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

        <![endif]-->

        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Roboto:400,400i,700,700i"
              rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.4/cropper.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.0/trix.css"/>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        {% block css %}
            {% compress css %}
                <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
                <link href="{% static 'css/styles.css' %}" rel="stylesheet">
            {% endcompress %}
        {% endblock %}
        {% include 'inc/sentry.html' %}
    {% endblock head %}
</head>

<body>
    {% block body %}
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Removing this section as we don't have active links
                <div class="collapse navbar-collapse nav-border-bottom" id="headerNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans "Who We Are" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans "Support" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans "Contact us" %}</a>
                        </li>
                    </ul>
                </div>

                TODO: Fix it in 1.2.1 -->

                <div class="d-flex col-12 mt-3 p-0 justify-content-between">
                    <div class="col text-center text-sm-left p-0">
                        <a class="navbar-brand" href="{% url 'app' %}">
                            <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Steebie Logo"/>
                        </a>
                    </div>
                    <div class="d-none d-sm-block py-2 text-capitalize size-18">
                        {% if not user.is_anonymous and user.is_merchant %}
                            <a href="{% url 'app' %}#/campaign/create" class="btn btn-primary btn-lg rounded-lg ml-3 px-4 font-weight-bold">
                                {% trans 'New campaign' %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="dropdown header-top">
                        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            {% if request.user.get_full_name %}
                                {{ request.user.get_full_name }}
                            {% else %}
                                {{ request.user.email }}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item nav-link" href="{% url 'users:account' %}">{% trans "Account" %}</a>
                            <a class="dropdown-item nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascript %}
        <!-- place project specific Javascript in this file -->
        {% compress js %}{% endcompress %}
        {% endblock javascript %}
    {% endblock body %}

    {% block bootstrap_form %}{% endblock bootstrap_form %}
    <div id="cover-spin"></div>
</body>
</html>
